VITE_SUPABASE_URL=https://fnjvogkvjeuwltjyghus.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZuanZvZ2t2amV1d2x0anlnaHVzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzE0Nzc0NCwiZXhwIjoyMDg4NzIzNzQ0fQ.d5ljAIF8Yzndjks6mQnw9KvTlhdeaM-3ys1Dn7azscY
VITE_ADMIN_EMAILS=ramasaniluckyn@gmail.com
VITE_RAZORPAY_KEY_ID=your_razorpay_key_id
